<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><ui:insert>Financeiro Web</ui:insert></title>
<h:outputStylesheet library="css" name="estilo.css" />
<style type="text/css">
	<!-- 
		#logotipo {
			text-align: right;
			float: right;
		}
	-->
</style>
</h:head>
<h:body>
	<div id="container">
		<div id="titulo">
			<ui:insert name="titulo">Financeiro Web</ui:insert>		
		</div>
		<div id="logotipo">
			<h:graphicImage library="imagens" name="logotipo_m.png" />
		</div>
		<div id="barra_menu">
			<ui:insert name="barra_menu">
				<ui:include src="/restrito/menu_sistema.xhtml" />
			</ui:insert>
		</div>
		<div id="corpo">
			<ui:insert name="corpo" />
		</div>
		<div id="rodape">
			<ui:insert name="rodape">
				<ui:include src="/publico/rodape.xhtml" />
			</ui:insert>
		</div>
	</div>
</h:body>
</html>