<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Usuário cadastrado</title>
</h:head>
<h:body>
	<h1>Usuário cadastrado</h1>
	<hr/>
	
	Nome: <h:outputText value="#{usuarioBean.nome}" /> <br />
	e-Mail: <h:outputLink value="mailto:#{usuarioBean.email}">
				<h:outputText value="#{usuarioBean.email}" />
			</h:outputLink> <br />
	Senha: <h:outputText value="#{usuarioBean.senha}" /> <br />
	<hr />
	
	<h:form>
		<h:commandLink action="inicio" value="Início" />
	</h:form>		
	
</h:body>
</html>