<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/templates/principal.xhtml">
	Este texto não será exibido
	
	<ui:define name="titulo">
		Título da Página
	</ui:define>
	<ui:define name="corpo">
		Este será o corpo <br />da página teste
	</ui:define>	
</ui:composition>
</html>