<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:p="http://primefaces.prime.com.tr/ui">
<ui:composition template="/templates/interna.xhtml">
	<ui:define name="titulo">
		Categorias
	</ui:define>
	
	<ui:define name="corpo">
		<f:view contentType="text/html">
			<h:panelGrid columns="2" cellpadding="5">
				<h:panelGroup>
					<h:form>
						<p:commandButton value="Novo" action="#{categoriaBean.novo}" update="edicao" />
					</h:form>
					<br />
					<h:form id="arvore">
						<p:tree value="#{categoriaBean.categoriasTree}" var="node"
						dynamic="false"
						selectionMode="single"
						nodeSelectListener="#{categoriaBean.selecionar}"
						update="edicao"
						expandAnim="FADE_IN" collapseAnim="FADE_OUT">
						<p:treeNode>
							<h:outputText value="#{node.descricao}" />
						</p:treeNode>
						</p:tree>
					</h:form>
				</h:panelGroup>
				<h:panelGroup id="edicao">
					<h:messages />
					<h:form rendered="#{categoriaBean.mostraEdicao}">
						<h:inputHidden value="#{categoriaBean.editada.codigo}" />
						<h:inputHidden value="#{categoriaBean.editada.fator}" />
						<h:panelGrid columns="2">
							<h:outputLabel value="Pai" />
							<h:selectOneMenu value="#{categoriaBean.editada.pai}">
								<f:selectItems value="#{categoriaBean.categoriasSelect}" />
							</h:selectOneMenu>
							<h:outputLabel value="Descrição" />
							<h:inputText value="#{categoriaBean.editada.descricao}" />
							<h:outputText />
							<h:panelGroup>
								<p:commandButton value="Salvar" action="#{categoriaBean.salver}" update="edicao, arvore" />
								<p:commandButton value="Excluir" action="#{categoriaBean.excluir}" update="edicao, arvore" />								
							</h:panelGroup>
							<h:outputText />
							<p:commandButton value="Nova subcategoria" action="#{categoriaBean.novo}" update="edicao" />
						</h:panelGrid>
					</h:form>
				</h:panelGroup>
			</h:panelGrid>
		</f:view>
	</ui:define>	
</ui:composition>
</html>