<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/templates/interna.xhtml">
	Este texto não será exibido
	
	<ui:define name="titulo">
		Lançamentos
	</ui:define>
	
	<ui:define name="corpo">
		<ui:include src="lancamento_edicao.xhtml" />
		<br />
		<ui:include src="lancamento_lista.xhtml" />
	</ui:define>	
</ui:composition>
</html>