<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:sec="http://www.springframework.org/security/facelets/tags">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Principal</title>
</h:head>
<h:body>
	<h1>Gerenciador Financeiro Pessoal</h1>
	
	Usuário logado #{request.remoteUser}
	<br />
	Nome do Usuário Logado #{contextoBean.usuarioLogado.nome}
	<br />
	<h:form>
		<h:commandButton value="Conta" action="conta" />	
		<input type="button" value="Logout" onclick="document.location='#{request.contextPath}/j_spring_security_logout'" />
		
		
		<h:selectOneMenu value="#{contextoBean.contaAtiva.conta}"
		valueChangeListener="#{contextoBean.setContaAtiva}"
		rendered="#{!empty contextoBean}"
		onchange="submit()">
			<f:selectItems value="#{contaBean.lista}" var="conta" itemValue="#{conta.conta}" itemLabel="#{conta.descricao}" />
		</h:selectOneMenu>
		
		<sec:ifAnyGranted roles="ROLE_ADMINISTRADOR">
			<h:commandButton value="Administração" action="/admin/principal" />
		</sec:ifAnyGranted>
		 
		
		
	</h:form>
</h:body>
</html>