body, td, th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600
}

th {
	background: url(#{resource['imagens:fundo_claro.png']}); 
	min-height: 25px;
	padding: 3px;
}

img {
	border:0px;
}

#container {
	width: 770px;
	height: 100%;
	margin: 0 auto
}
	
#titulo {
	float: left;
	font-size: 18pt;
	font-variant: small-caps;
	font-weight: bold;
	color: #006600
}

#barra_menu {
	background: url(#{resource['imagens:fundo_barra_menu.png']}) repeat-x; 
	min-height: 25px;
	padding: 3px;
	clear:both;
}

#corpo {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 300px;
}

#rodape {
	background: url(#{resource['imagens:fundo_barra_rodape.png']}) repeat-x;
	height: 100px;
	margin-top: 5px;
	padding: 10px;
	text-align: center;
}

.info {
	font-weight: bold;
	color: green;
}

.warn {
	font-weight: bold;
	color: #FFCC00;
}

.fatal, .error {
	font-weight: bold;
	color: red;
}